
@use "sass:map"
@use "sass:string"
@use "../../sass/modules/transition"
@use "../../sass/modules/globals"
@import "../../sass/partials/extend"

@mixin container-style()
    $bg-url: map.get(globals.$urls,"background")
    div#page-container
        position: relative
        height: 100vh
        width: 100%
        display: flex
        justify-content: center
        flex-direction: column
        padding: 40px 20px
        @include container-transition()
        &::before
            content: ""
            background-image: url(#{$bg-url})
            background-size: cover
            position: absolute
            @extend %stretch
            opacity: 0.5
            z-index: -1

@mixin container-transition()
    $transition-map: (
        'properties': top opacity,
        'delay': 0s
        'duration': 1.5s,
        'timing function': linear
    )
    @include transition.transition($map: $transition-map)
    

@include container-style()
